
#parallax {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 400px;
}

#fondo {
    width: 100%;
    height: 100%;
    
    background-color: #DDDDDD;
    /*background: transparent;*/
    
    background: url(./images/grass.jpg) 100% 0 repeat-x fixed;
    background-position: -0px 350px;
    
    
}
